<!DOCTYPE html>
<html xmlns:hx="http://purl.org/NET/hinclude">
<head>
{# include header #}
{% include '::base.header.twig' %}
</head>
<body>
        {% include '::base.mainmenu.twig' %}
        {# include flash messages#}
        {% include '::base.flash.twig' %}
        {% block body %}

        {% endblock %}        
        {# include footer #}
        {% include '::base.footer.twig' %}
        {% block javascripts %}{% endblock %}
</body>
</html>