<!-- -->
<div class="factsys-widget">
<div class="factsys-footer-highlight factsys-corner-all" style="padding: 0 .0em;">
<ul id="css3menu1" class="topmenu">
	<li class="topfirst"><a href="#" target="_parent" style="height:18px;line-height:18px;">Inicio</a></li>
	<li class="topmenu"><a href="#" style="height:18px;line-height:18px;"><span>Facturacion</span></a>
	<ul>
		<li><a href="#">Facturas</a></li>
		<li><a href="#"><span>Catalogos</span></a>
		<ul>
			<li><a href="#"><span>Clientes</span></a>
			<ul>
				<li><a href="#">Clientes</a></li>
				<li><a href="#">Tipos Clientes</a></li>
			</ul></li>
			<li><a href="#"><span>Propiedades</span></a>
			<ul>
				<li><a href="#">Propiedades</a></li>
				<li><a href="#">Tipo Propiedades</a></li>
			</ul></li>
			<li><a href="#"><span>Conceptos</span></a>
			<ul>
				<li><a href="#">Conceptos</a></li>
				<li><a href="#">Tipo Conceptos</a></li>
			</ul></li>
		</ul></li>
		<li><a href="#"><span>Facturacion 2</span></a>
		<ul>
			<li><a href="#">Facturacion 2 0</a></li>
			<li><a href="#">Facturacion 2 1</a></li>
			<li><a href="#">Facturacion 2 2</a></li>
			<li><a href="#">Facturacion 2 3</a></li>
		</ul></li>
		<li><a href="#"><span>Facturacion 3</span></a>
		<ul>
			<li><a href="#">Facturacion 3 0</a></li>
			<li><a href="#">Facturacion 3 1</a></li>
			<li><a href="#">Facturacion 3 2</a></li>
			<li><a href="#">Facturacion 3 3</a></li>
		</ul></li>
	</ul></li>
	<li class="topmenu"><a href="#" style="height:18px;line-height:18px;"><span>Inventario</span></a>
	<ul>
		<li><a href="#"><span>Inventario</span></a>
		<ul>
			<li><a href="#">Documentos</a></li>
			<li><a href="#">Inventario Fisico</a></li>
		</ul></li>
		<li><a href="#"><span>Catalogos</span></a>
		<ul>
			<li><a href="#">Articulos</a></li>
			<li><a href="#">Conceptos</a></li>
			<li><a href="#">Proveedores</a></li>
			<li><a href="#">Clientes</a></li>
			<li><a href="#">Vendedores</a></li>
		</ul></li>
		<li><a href="#">Inventario 2</a></li>
		<li><a href="#">Inventario 3</a></li>
	</ul></li>
	<li class="topmenu"><a href="#" style="height:18px;line-height:18px;"><span>Reportes</span></a>
	<ul>
		<li><a href="#"><span>Facturacion</span></a>
		<ul>
			<li><a href="#">Facturas</a></li>
			<li><a href="#"><span>Catalogos</span></a>
			<ul>
				<li><a href="#">Clientes</a></li>
				<li><a href="#">Conceptos</a></li>
				<li><a href="#">Propiedades</a></li>
			</ul></li>
			<li><a href="#">Micelaneos</a></li>
		</ul></li>
		<li><a href="#"><span>Inventarios</span></a>
		<ul>
			<li><a href="#">Doumentos</a></li>
			<li><a href="#"><span>Catalogos</span></a>
			<ul>
				<li><a href="#">Articulos</a></li>
				<li><a href="#">Conceptos</a></li>
				<li><a href="#">Clientes</a></li>
				<li><a href="#">Proveedores</a></li>
				<li><a href="#">Clientes</a></li>
			</ul></li>
			<li><a href="#"><span>Reportes</span></a>
			<ul>
				<li><a href="#">Reportes 0</a></li>
				<li><a href="#">Reportes 1</a></li>
				<li><a href="#">Reportes 2</a></li>
				<li><a href="#">Reportes 3</a></li>
			</ul></li>
		</ul></li>
		<li><a href="#"><span>Reportes 2</span></a>
		<ul>
			<li><a href="#">Reportes 2 0</a></li>
			<li><a href="#">Reportes 2 1</a></li>
		</ul></li>
		<li><a href="#"><span>Reportes 3</span></a>
		<ul>
			<li><a href="#"><span>Reportes 3 0</span></a>
			<ul>
				<li><a href="#">Reportes 3 0 0</a></li>
				<li><a href="#">Reportes 3 0 1</a></li>
			</ul></li>
			<li><a href="#">Reportes 3 1</a></li>
		</ul></li>
		<li><a href="#"><span>Reportes 4</span></a>
		<ul>
			<li><a href="#"><span>Reportes 4 0</span></a>
			<ul>
				<li><a href="#">Reportes 4 0 0</a></li>
			</ul></li>
			<li><a href="#">Reportes 4 1</a></li>
			<li><a href="#">Reportes 4 2</a></li>
		</ul></li>
	</ul></li>
	<li class="topmenu"><a href="#" style="height:18px;line-height:18px;"><span>Mantenimiento</span></a>
	<ul>
		<li><a href="#"><span>Mantenimiento</span></a>
		<ul>
			<li><a href="#">Municipios</a></li>
			<li><a href="#">Planes</a></li>
			<li><a href="#">Mantenimiento 0 2</a></li>
		</ul></li>
		<li><a href="#"><span>Cierres</span></a>
		<ul>
			<li><a href="#">Periodo</a></li>
			<li><a href="#">Ejercicio</a></li>
			<li><a href="#">Mantenimiento 2 2</a></li>
		</ul></li>
		<li><a href="#"><span>Permisos</span></a>
		<ul>
			<li><a href="#">Usuarios</a></li>
			<li><a href="#">Mantenimiento 1 1</a></li>
			<li><a href="#">Mantenimiento 1 2</a></li>
		</ul></li>
		<li><a href="#"><span>Portal Administracion</span></a>
		<ul>
			<li><a href="#">Modo Mantenimiento</a></li>
			<li><a href="#">Modulos</a></li>
			<li><a href="#">Temas</a></li>
		</ul></li>
		<li><a href="#">Registro</a></li>
	</ul></li>
	<li class="toplast"><a href="#" style="height:18px;line-height:18px;"><span>Salir</span></a>
	<ul>
		<li><a href="#">Cancelar</a></li>
		<li><a href="#">Salir</a></li>
	</ul></li>
</ul>
<!--  -->
</div>
</div>